asgiref
bokeh
dateparser
Django
flake8
importlib-metadata
Jinja2
MarkupSafe
mccabe
numpy
packaging
Pillow
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
PyYAML
regex
six
sqlparse
tornado
typing-extensions
tzlocal
zipp
django-crispy-forms
Pillow
crispy-bootstrap4
