{% extends "blank.html" %}
{% load static %}

{% block title %}WRITING MATE{% endblock %}

{% block page-heading %}contact{% endblock %}

{% block content %}

<div class="row">

    <div class="col-lg-6">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">über mich</h6>
            </div>
            <div class="card-body">
                <a href="https://twitter.com/l_r_ss_" target="_blank" class="btn btn-primary btn-circle">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/LarissaHa/writing-mate" target="_blank" class="btn btn-primary btn-circle">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://nanowrimo.org/participants/luana-casado" target="_blank" class="btn btn-primary btn-circle">
                    <i class="fas fa-keyboard"></i>
                </a>
                <a href="https://www.buymeacoffee.com/LarissaHa" target="_blank" class="btn btn-primary btn-circle">
                    <i class="fas fa-coffee"></i>
                </a>
                <br><br>
                Gefällt dir <b>writing mate</b>? Ich baue diese Seite in meiner Freizeit, weil mir die
                Statistiken der NaNoWriMo-Seite nicht ausführlich genug waren. Mit <b>writing mate</b>
                wollte ich all das verwirklichen, was ich bei der NaNo-Seite vermisse. Parallel dazu
                arbeite ich als Entwicklerin in der IT und #ichSchreibeNurImNano ;) 
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">feedback?</h6>
            </div>
            <div class="card-body">
                <a href="mailto:larissahaas+yc3ovcfjr3eubbtgj1ct@boards.trello.com" target="_blank" class="btn btn-primary btn-circle">
                    <i class="fas fa-envelope"></i>
                </a>
                <br><br>
                Du nutzt <b>writing mate</b> sehr gerne? Es gibt aber ein Feature, das du dir unbedingt
                noch wünschst? Du hast Fehler entdeckt, die am besten sofort verschwinden sollen? Dann
                schreib mir eine E-Mail! Beschreibe darin das Feature / den Fehler so genau wie möglich, 
                dann schaue ich, dass ich deine Wünsche sobald wie möglich umsetze. Natürlich kann ich 
                nichts versprechen, <b>writing mate</b> ist leider nur eines meiner Nebenprojekte.
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
              symbolbild - larissa arbeitend
            </div>
            <div class="card-body">
                <img class="icons w-100 mb-3" src="{% static 'logs/img/undraw_working_late_pukg.svg' %}" alt=""
                onload="SVGInject(this)" />
            </div>
          </div>
    </div>
</div>

{% endblock %}
