{% extends "blank.html" %}
{% load static %}

{% block title %}WRITING MATE{% endblock %}

{% block page-heading %}hi {{ user.first_name }}! :){% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p>welcome to your personal writing mate! </p>
  <br>
  <br>
<table>
    <tr>
        <td>
            <img class="icons w-50 mb-3" src="{% static 'logs/img/undraw_friends_r511.svg' %}" alt=""
			onload="SVGInject(this)" />
        </td>
        <td>
            <p>start now: <br><a class="btn btn-warning" href="/projects/new/">new project</a></p>
            <p>continue your work: <br><a class="btn btn-info" href="/logs/new/">new log</a></p>
            <p>your newest project: <br><a class="btn btn-primary" href="{% url 'project_view' slug=project.slug %}">{{ project.title }}</a></p>
            <p>your latest log entry: <br>{{ log.project }} - {{ log.count }} - {{ log.date }}, {{ log.time }} - {{ log.note }}</p>
        </td>
    </tr>
</table>

  <br>
  <br>
  <a class="btn btn-dark" href="#" data-toggle="modal" data-target="#logoutModal">Log Out</a>
{% else %}
  <p>You are not logged in</p>
  <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
{% endif %}


{% endblock %}
