{% extends "blank.html" %}
{% load static %}

{% block title %}WRITING MATE{% endblock %}

{% block page-heading %}your projects{% endblock %}

{% block content %}
<div class="dropdown mb-4">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      sort by
    </button>
    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/projects/">priority - highest first (default)</a>
      <!--a class="dropdown-item" href="#">log - latest first</a-->
      <a class="dropdown-item" href="/projects/sort/newest/">created - newest first</a>
      <a class="dropdown-item" href="/projects/sort/oldest/">created - oldest first</a>
      <!--a class="dropdown-item" href="#">progress - least first</a-->
      <!--a class="dropdown-item" href="#">progress - most first</a-->
    </div>
</div>
<a class="btn btn-warning" href="/projects/new/">new project</a>
<br><br>
{% for project in projects %}
<div class="row">
    <div class="col-lg-2">
        <!-- Default Card Example -->
        <div>
            <a href="{% url 'project_view' slug=project.slug %}">
            {% if project.image %}
            <img class="icons w-100 mb-3" src="{{MEDIA_URL}}{{ project.image.url }}" alt=""/>
            {% else %}
            <img class="icons w-100 mb-3" src="{% static 'logs/img/empty_project_image.png' %}" alt=""/>
            {% endif %}
            </a>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <a href="{% url 'project_view' slug=project.slug %}"><h6 class="m-0 font-weight-bold" style="color: {{ project.color }} !important">{{ project.title }}</h6></a>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-pencil-alt fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'project_edit' slug=project.slug %}">edit project</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if project.subtitle == "" or project.subtitle == None %}{% else %}<b>{{ project.subtitle }}</b><br><br>{% endif %}
                {% if project.synopsis == "" %}{% else %}<b>{{ project.synopsis }}</b><br><br>{% endif %} 
                <ul>
                    <li>Prio {{project.priority }}</li>
                    <li>{{ project.status }}</li>
                    <li>{{ project.count }} {{ project.unit }} / {{ project.goal }} {{ project.unit }}</li>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                        aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}; background-color: {{ project.color }}">
                        {{ project.progress }} complete
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
