{% extends "blank.html" %}
{% load static %}

{% block title %}WRITING MATE{% endblock %}

{% block page-heading %}{{ project.title }}{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'project_edit' slug=project.slug %}">edit project</a>
<table>
    <tr>
        <td>{{ project.title }} {{ project }}
            <ul>
                <li>{{ project.created_at }}</li>
                <li>{{ project.goal }} {{ project.unit }}</li>
                <li>{{ count }} {{ project.unit }}</li>
                <li>{{ project.status }}</li>
                <li>{{ project.topic }}</li>
                <li>{{ project.type }}</li>
                <li>{{ project.slug }}</li>
            </ul></td>
    </tr>
</table>

<table>
    <tr><td><b>LOGS</b></td><!--<td><b>Groups</b></td>--></tr>
    {% for log in logs %}
    <tr>
        <td><a class="btn btn-secondary" href="{% url 'logs_edit' pk=log.pk %}">edit</a> {{ log.project }} - {{ log.count }} - {{ log.date }}, {{ log.time }} - {{ log.note }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
